@use 'styles/_mixin';
@use 'styles/_variable';

$div-width: variable.$todo-width + 7.6 * variable.$base-padding;
$div-height: 60px;

body {
  background-color: variable.$background-color;
  height: 100%;
}

.app {
  @include mixin.flex-layout(column, flex-start, center, flex-start);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

.app-title {
  font-size: 100px;
  font-weight: inherit;
  color: variable.$primary-color;
  margin: variable.$base-margin;
}

.todo-input {
  padding: 1.6 * variable.$base-padding 1.6 * variable.$base-padding 1.6 * variable.$base-padding 6.2 * variable.$base-padding;
  font-size: variable.$todo-font-size;
  font-family: inherit;
  font-weight: inherit;
  width: variable.$todo-width;
  border: none;
  box-shadow: 2px 0 1px 1px rgba(0, 0, 0, 0.2);
}

.todo-input::placeholder {
  color: lightgray;
  font-style: italic;
}

.todo-input:focus {
  outline: none;
}

.content-div-basic {
  width: $div-width;
  background-color: white;
  height: $div-height;
}

.todo-content {
  @include mixin.flex-layout(row, flex-start, center, flex-start);
  @extend .content-div-basic;
  border: 1px solid variable.$background-color;
  box-shadow: 2px 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* Hide the browser's default checkbox */
.todo-content input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-label {
  @include mixin.flex-layout(row, flex-start, center, center);
  padding: 0.5 * variable.$base-padding 0.5 * variable.$base-padding 0.5 * variable.$base-padding 1.5 * variable.$base-padding;
  width: 95%;
  font-size: variable.$todo-font-size;
}

.checkbox-label .checkbox-span {
  height: variable.$checkbox-size;
  width: variable.$checkbox-size;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid variable.$background-color;
}

.checkbox-label input:checked ~ .checkbox-span {
  height: variable.$checkbox-size;
  width: variable.$checkbox-size;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid variable.$background-color;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity:1;
}

.checkbox-label .checkbox-span::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0;
  width: 0;
  border-radius: 5px;
  border: solid variable.$check-color;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity:1;
  transition: all variable.$transition-duration ease-out;
  -webkit-transition: all variable.$transition-duration ease-out;
  -moz-transition: all variable.$transition-duration ease-out;
  -o-transition: all variable.$transition-duration ease-out;
}

.checkbox-label input:checked ~ .checkbox-span::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid variable.$check-color;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

.checkbox-span {
  display: block;
  align-self: center;
  margin-right: variable.$base-margin;
}

.checkbox-delete-button {
  display: none;
}

.todo-content:hover .checkbox-delete-button {
  display: block;
  align-self: center;
  width: variable.$icon-size;
  height: variable.$icon-size;
  background: url("./resources/close.png");
  border: none;
  margin-right: variable.$base-margin;
}

.no-content-placeholder {
  font-size: variable.$todo-font-size;
  font-style: italic;
  color: lightgray;
  text-align: center;
  width: 100%;
}

.todos-div {
  @include mixin.flex-layout(column, flex-start, center, flex-start);
}

.content-fade-basic {
  background-color: white;
  height: 5px;
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid variable.$background-color;
}

.todo-content-fade1 {
  @extend .content-fade-basic;
  width: $div-width * 0.98;
}

.todo-content-fade2 {
  @extend .content-fade-basic;
  width: $div-width * 0.96;
}

.filter-div {
  @include mixin.flex-layout(row, center, center, flex-start);
  @extend .content-div-basic;
  position: relative;
  font-size: 1em;
  border: 1px solid variable.$background-color;
  box-shadow: 2px 0 1px 1px rgba(0, 0, 0, 0.2);
}

.count-span {
  margin-left: variable.$base-margin;
  position: absolute;
  left: 0;
}

.filter-ul {
  display: block;
  @include mixin.flex-layout(row, space-evenly, center, flex-start);
  list-style-type: none;
  width: 200px;
  padding: 0;
}

.filter-link {
  background: transparent;
  border: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 100;
  padding: variable.$base-padding / 2;
  text-decoration: none;
  color: black;
}

.filter-link:hover, .filter-link:focus, .filter-link:active, .filter-link:visited {
  outline: 2px solid variable.$primary-color;
  color: black;
}
